openapi: 3.0.3
info:
  title: Wallarm Applications Vulnerabilities API
  description: The Wallarm API provides programmatic access to the Wallarm API Security Platform. It enables management of attacks, incidents, vulnerabilities, security rules, IP lists, filter nodes, users, integrations, and triggers. The API is available on both US Cloud and EU Cloud endpoints and uses API token authentication.
  version: 4.0.0
  termsOfService: https://www.wallarm.com/terms-of-service
  contact:
    name: Wallarm Support
    url: https://docs.wallarm.com/
    email: support@wallarm.com
  license:
    name: Proprietary
    url: https://www.wallarm.com/terms-of-service
servers:
- url: https://us1.api.wallarm.com
  description: Wallarm US Cloud API
- url: https://api.wallarm.com
  description: Wallarm EU Cloud API
security:
- ApiTokenAuth: []
tags:
- name: Vulnerabilities
  description: Vulnerability detection and management
paths:
  /v1/objects/vuln:
    post:
      operationId: listVulnerabilities
      summary: List Vulnerabilities
      description: Retrieve detected vulnerabilities. Supports filtering by status, time range, and client ID.
      tags:
      - Vulnerabilities
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VulnQueryRequest'
      responses:
        '200':
          description: List of vulnerabilities returned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VulnListResponse'
        '401':
          description: Unauthorized
components:
  schemas:
    VulnQueryRequest:
      type: object
      properties:
        clientid:
          type: integer
          description: Client ID
        filter:
          type: object
          properties:
            status:
              type: string
              enum:
              - active
              - fixed
              - false_positive
              description: Vulnerability status filter
            time:
              type: array
              items:
                type: integer
              description: Time range as Unix timestamps [start, end]
        limit:
          type: integer
          default: 50
    Vulnerability:
      type: object
      properties:
        id:
          type: integer
          description: Unique vulnerability identifier
        type:
          type: string
          description: Vulnerability type (sqli, xss, rce, etc.)
        status:
          type: string
          enum:
          - active
          - fixed
          - false_positive
        domain:
          type: string
          description: Affected domain
        path:
          type: string
          description: Affected URL path
        method:
          type: string
          description: HTTP method
        parameter:
          type: string
          description: Vulnerable parameter
        description:
          type: string
          description: Vulnerability description
        discovered:
          type: integer
          description: Unix timestamp when vulnerability was discovered
        severity:
          type: string
          enum:
          - critical
          - high
          - medium
          - low
          description: Vulnerability severity level
    VulnListResponse:
      type: object
      properties:
        status:
          type: integer
        body:
          type: array
          items:
            $ref: '#/components/schemas/Vulnerability'
  securitySchemes:
    ApiTokenAuth:
      type: apiKey
      in: header
      name: X-WallarmApi-Token
      description: API token obtained from Wallarm Console under Settings → API Tokens.
