openapi: 3.0.3
info:
  title: Wallarm Applications Nodes API
  description: The Wallarm API provides programmatic access to the Wallarm API Security Platform. It enables management of attacks, incidents, vulnerabilities, security rules, IP lists, filter nodes, users, integrations, and triggers. The API is available on both US Cloud and EU Cloud endpoints and uses API token authentication.
  version: 4.0.0
  termsOfService: https://www.wallarm.com/terms-of-service
  contact:
    name: Wallarm Support
    url: https://docs.wallarm.com/
    email: support@wallarm.com
  license:
    name: Proprietary
    url: https://www.wallarm.com/terms-of-service
servers:
- url: https://us1.api.wallarm.com
  description: Wallarm US Cloud API
- url: https://api.wallarm.com
  description: Wallarm EU Cloud API
security:
- ApiTokenAuth: []
tags:
- name: Nodes
  description: Wallarm filter node management
paths:
  /v1/objects/node:
    post:
      operationId: listNodes
      summary: List Filter Nodes
      description: Retrieve all Wallarm filter nodes registered to the client account.
      tags:
      - Nodes
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ObjectQueryRequest'
      responses:
        '200':
          description: List of filter nodes returned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NodeListResponse'
        '401':
          description: Unauthorized
  /v2/node:
    post:
      operationId: createNode
      summary: Create Filter Node
      description: Register a new Wallarm filter node with the platform.
      tags:
      - Nodes
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateNodeRequest'
      responses:
        '200':
          description: Node created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NodeResponse'
        '400':
          description: Invalid request
        '401':
          description: Unauthorized
components:
  schemas:
    CreateNodeRequest:
      type: object
      required:
      - hostname
      - type
      properties:
        hostname:
          type: string
          description: Node hostname
        type:
          type: string
          description: Node type
        clientid:
          type: integer
          description: Client ID
    NodeListResponse:
      type: object
      properties:
        status:
          type: integer
        body:
          type: array
          items:
            $ref: '#/components/schemas/Node'
    NodeResponse:
      type: object
      properties:
        status:
          type: integer
        body:
          $ref: '#/components/schemas/Node'
    ObjectQueryRequest:
      type: object
      properties:
        clientid:
          type: integer
          description: Client ID
        filter:
          type: object
          description: Filter criteria
        limit:
          type: integer
          default: 50
          description: Maximum number of results to return
        offset:
          type: integer
          default: 0
          description: Pagination offset
        order_by:
          type: string
          description: Field to sort results by
        order_desc:
          type: boolean
          default: true
          description: Sort in descending order
    Node:
      type: object
      properties:
        id:
          type: integer
          description: Node identifier
        hostname:
          type: string
          description: Node hostname
        ip:
          type: string
          description: Node IP address
        status:
          type: string
          description: Node status (active, inactive)
        type:
          type: string
          description: Node type
        version:
          type: string
          description: Wallarm node version
        last_activity:
          type: integer
          description: Unix timestamp of last activity
  securitySchemes:
    ApiTokenAuth:
      type: apiKey
      in: header
      name: X-WallarmApi-Token
      description: API token obtained from Wallarm Console under Settings → API Tokens.
