openapi: 3.0.3
info:
  title: Wallarm Applications User API
  description: The Wallarm API provides programmatic access to the Wallarm API Security Platform. It enables management of attacks, incidents, vulnerabilities, security rules, IP lists, filter nodes, users, integrations, and triggers. The API is available on both US Cloud and EU Cloud endpoints and uses API token authentication.
  version: 4.0.0
  termsOfService: https://www.wallarm.com/terms-of-service
  contact:
    name: Wallarm Support
    url: https://docs.wallarm.com/
    email: support@wallarm.com
  license:
    name: Proprietary
    url: https://www.wallarm.com/terms-of-service
servers:
- url: https://us1.api.wallarm.com
  description: Wallarm US Cloud API
- url: https://api.wallarm.com
  description: Wallarm EU Cloud API
security:
- ApiTokenAuth: []
tags:
- name: User
  description: User account and authentication management
paths:
  /v1/user:
    post:
      operationId: getUser
      summary: Get User Details
      description: Retrieve current user account details including the client ID required for subsequent API calls in multi-tenant environments.
      tags:
      - User
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                fields:
                  type: array
                  items:
                    type: string
                  description: List of fields to return
      responses:
        '200':
          description: User details returned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        '401':
          description: Unauthorized - invalid or missing API token
components:
  schemas:
    UserResponse:
      type: object
      properties:
        status:
          type: integer
          example: 200
        body:
          type: object
          properties:
            id:
              type: integer
              description: User ID
            email:
              type: string
              description: User email address
            client_id:
              type: integer
              description: Client ID for multi-tenant API calls
            name:
              type: string
              description: User display name
            role:
              type: string
              description: User role (admin, analyst, etc.)
  securitySchemes:
    ApiTokenAuth:
      type: apiKey
      in: header
      name: X-WallarmApi-Token
      description: API token obtained from Wallarm Console under Settings → API Tokens.
